.saveStatus {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  color: $fadedColorVeryDark;
}

.saved {
  color: $accentColorDark;
}

.titleInput {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 2rem;
  font-family: $headingFont;
  font-weight: 500;
  padding-left: 0.5rem;
}

.textInput {
  margin-bottom: 1rem;
  padding: 0;
  font-size: 0.8rem;
}

// Markdown editor style overrides
.editor-toolbar {
  border: none;
}

.CodeMirror {
  border-radius: 0.2rem;
}