main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20%;
  margin-top: 2rem;
  transition: margin-left 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fullScreen {
  margin-left: 0;
}

.editor p {
  font-size: 1rem;
  color: #999;
}

.titleInput, .textInput {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0.8rem;
}

.titleInput {
  border-bottom: 0.05rem solid #ddd;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.textInput {
  resize: none;
  margin-bottom: 2rem;
}