html {
    font-size: 125%;
  }
  
html, body, #root, .app {
  height: 100%;
}

.app {
  display: flex;
}

ul {
    list-style-type: none;
  }

.wrapper {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

.fullScreenToggle {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
}