header {
  width: 20%;
  height: 100%;
  padding: 2rem 0;
  position: absolute;
  left: 0;
  background: black;
  color: white;
  transition: left 0.5s;
}

.collapsed {
  left: -20%;
}

h1 {
  margin-top: 0;
}

.notesControls {
  height: 100%;
}

.notesList ul {
  margin: 0;
  height: 50vh;
  padding: 0;
  overflow-y: scroll;
}

.note h3 {
  margin: 0;
}

.note p {
  font-size: 0.6rem;
}

.note:hover, .note:focus {
  background: white;
  color: black;
  cursor: pointer;
}

.selected {
  background: white;
  color: black;
}