header {
  width: 20%;
  height: 100%;
  padding: 2rem 0;
  position: absolute;
  left: 0;
  transition: left 0.5s;
  border-right: 0.05rem solid #ddd;
}

.collapsed {
  left: -20%;
}

h1 {
  margin-top: 0;
}

.notesControls {
  height: 100%;
}

.notesList ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
}

.note {
  padding: 0.5rem;
  word-wrap: break-word;
}

.note h3 {
  margin: 0;
}

.note p {
  font-size: 0.6rem;
}

.note:hover, .note:focus {
  background: #eee;
  cursor: pointer;
}

.selected {
  background: #eee;
}