.addNote {
  color: green;
  cursor: pointer;
}

.addNote:hover, .addNote:focus {
  color: darkgreen;
}

.notesControls {
  height: 100%;
}

.notesList h2 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.notesList ul {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
  width: calc(100% + 0.5rem);
}

.note {
  border-top: 0.05rem solid #ddd;
  padding: 0.2rem;
  word-wrap: break-word;
  position: relative;
}

.noteTitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}

.note p {
  margin: 0.1rem;
}

.noteText {
  font-size: 0.7rem;
  color: #555;
}

.noteCreateDate {
  font-size: 0.6rem;
  font-style: italic;
  color: #888;
}

.deleteNote {
  position: absolute;
  z-index: 10;
  top: 0.25rem;
  right: 0.25rem;
  font-size: 1.2rem !important;
  color: #FF5733 ;
  opacity: 0;
}

.deleteNote:hover {
  cursor: not-allowed;
}

.note:hover .deleteNote {
  opacity: 1;
}

.note:hover, .note:focus {
  background: rgba(166, 255, 166, 0.521);
}

.selected {
  background: rgb(164, 255, 164) !important;
}